/* Default  Properties*/
body{
    background-color: #F1F1F1;
    margin: 0;
}
.grid{
    display: grid;
}
.border{
    border: 2px solid black;
}
.container{
    grid-template-columns: auto;
    grid-template-rows: 130px 90vh 10vh;
    row-gap: 20px;
}
header{
    /* background-color: cadetblue; */
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 60px 60px;
    row-gap: 10px;
}
nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav>.icon {
    width: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 100px;
}

nav>.icon>span {
    background-color: black;
    width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 5px;
}
nav>.icon:hover nav>.icon>span:hover{
    background-color: #eeeeee;
}
nav>.icon>span:last-child{
    margin-bottom: 0px;
}
nav>.img {
    margin: 0 20px;



}
nav>.search>.box>.box__search{
    width: 600px;
    height: 30px;
    border: 1px solid #eeeeee;
    padding: 0 10px;
    font-size: 16px;
}

nav>.search>.box>a{
    width: 100px;
    height: 15px;
    padding: 8px 30px;
    background-color: #eeeeee;
    border: 1px #dddddd;
    margin-left: -4px;
}
nav>.search>.box>a>img{
    width: 15px;
    height: 15px;
    text-align: center;
}
nav>.search>.upload{
}
nav>.search>.upload>img{
    width: 15px;
    height: 15px;
    text-align: center;
}
.lang-bar{
    grid-template-columns: auto;
}
.lang-bar-header{
    background-color: blueviolet;
}
.lang-bar-content{
    background-color: white;
}
.mainContent{
    background-color: chocolate;
    height: 100%;
}
footer{
    background-color: whitesmoke;
}